* {
    
    padding:0% ;
    margin: 0% ;
    box-sizing: border-box;
}


a {
  text-decoration: none !important;
  cursor: pointer;
  color: aliceblue !important;
  font-size: 1.6rem;
  font-weight: 600;
}


a:hover{
  color: #0af40a !important;
  text-shadow: 1px -1px 4px rgb(6, 10, 8);
}

body {
  background-image:  url("../image/smartphoneBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  
  
}

header{
  position: fixed;
  height: 20vh;
  width: 100%;
}

.navbar {
  height: 20vh;
  color: black;
  background-color: #5b9ab6;
}

.nav-link{
  color: black !important;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: aliceblue;
    text-shadow: 2px -1px 4px black;
  
}

h1{
  color: aliceblue !important;
  font-size: 30px;
  color: aliceblue;
    text-shadow: 2px -1px 4px black;
}

h2 h3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% !important;
  color: aliceblue;
  text-shadow: 2px -1px 4px black;
  text-align: center !important;
}

.all{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./image/cyber-brain-7662721_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.allPara{
 
  background-image: url(./image/web-5004174_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
    text-shadow: 2px -1px 4px black;
}

p{
  font-size: 20px;
  margin: 10px !important;
  color: aliceblue;
    text-shadow: 2px -1px 4px black;

}

 .ExpUtil .AppInno .DigiDura .OutiCroi{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
  text-align: justify;
}